{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}   
Patient Registration Form
{% endblock title %} 

{% block content %}  
<h1> Registration Form</h1>
<form enctype="multipart/form-data" method="POST">  
	{% if form.errors %} 
	{% for e in form.errors %}
	{{e|safe}} 
	{% endfor %}
	{% endif %}
	<div class="form-group"> 
		{% csrf_token %}
		{{ form|crispy }} 
	</div> 
	<input type="submit" class="btn btn-success" value="Register" />
</form>





{% endblock content %}



